<tr id="selectTimesheet<%= timesheet.id %>">
  <th scope="row"><%= @stt+=1 %></th>
  <td><%= timesheet.contact_name %></td>
  <td><%= timesheet.user_email %></td>
  <td><%= timesheet.check_in %></td>
  <td><%= timesheet.check_out %></td>
  <td><%= timesheet.shift_name %></td>
  <td>
    <%= link_to admin_timesheet_path(timesheet), method: :delete, remote: true, data: { confirm: "Are you sure ban?" } do %>
      <button type="button" class="btn btn-danger btn-sm">
        <span class="material-icons">delete_forever</span>
      </button>
    <% end %>
  </td>
</tr>
