<div class="page-info">
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><%= t "admin.users.dashboard" %></a></li>
        <li class="breadcrumb-item active" aria-current="page"><%= t "timesheets.timesheet" %></li>
      </ol>
  </nav>
</div>
<div class="main-wrapper">
  <div class="row stats-row">
    <div class="col-xl">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Table Head Options</h5>
          <!-- <p>
            Use the modifier classes <code>.thead-light</code> or
            <code>.thead-dark</code> to make <code>&lt;thead&gt;</code>s appear
            light or dark gray.
          </p> -->
          <table class="table" id="timesheets-table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col"><%= t "timesheets.name" %></th>
                <th scope="col"><%= t "timesheets.email" %></th>
                <th scope="col"><%= t "timesheets.checkin" %></th>
                <th scope="col"><%= t "timesheets.checkout" %></th>
                <th scope="col"><%= t "timesheets.shift" %></th>
                <th scope="col"><%= t "edit" %>/<%= t "delete" %></th>
              </tr>
            </thead>
            <tbody id="timesheets">
              <%= render @timesheets %>
            </tbody>
          </table>
          <div id="search-results"></div>
          <div id="paginator">
            <%= paginate @timesheets, remote: true %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="modal-timesheets"></div>
