<tr id="selectUser<%= user.id %>">
  <th scope="row"><%= @stt+=1 %></th>
  <td><%= user.email %></td>
  <td><%= user.contact_name %></td>
  <td><%= user.contact_phone %></td>
  <td><%= user.contact_address %></td>
  <td>
    <%= button_to(user.role_slug, modal_role_admin_user_path(user.id), method: :get, remote: true, class: "btn btn-info btn-xs btn-block") %>
  </td>
  <td>
    <% if user.deleted_at? %>
      <%= link_to unbanned_admin_user_path(user.id), method: :put, remote: true, data: { confirm: "Are you sure unban?" } do %>
        <button type="button" class="btn btn-danger btn-sm">
          <span class="material-icons-outlined">undo</span>
        </button>
      <% end %>
    <% else %>
      <%= link_to admin_user_path(user.id), method: :delete, remote: true, data: { confirm: "Are you sure ban?" } do %>
        <button type="button" class="btn btn-danger btn-sm">
          <span class="material-icons-outlined">remove_circle</span>
        </button>
      <% end %>
    <% end %>
  </td>
</tr>
